openapi: 3.1.0
info:
  title: iDenfy IVS Core API
  version: 0.0.0
  description: iDenfy Identity Verification Service's Core API documentation.
  contact:
    name: API Support
    url: https://idenfy-ivs.atlassian.net/servicedesk/customer/portal/1/group/-1
  x-logo:
    url: /static/idenfy_logo.svg
    altText: iDenfy logo
servers:
- url: https://ivs.idenfy.com
paths:
  /api/v2/gov-ordered-documents/:
    get:
      operationId: apiV2GovOrderedDocumentsList
      summary: List GOV ordered documents
      parameters:
      - in: query
        name: deliveredAfter
        schema:
          type: string
          format: date-time
      - in: query
        name: deliveredBefore
        schema:
          type: string
          format: date-time
      - in: query
        name: documentFormat
        schema:
          type: string
      - in: query
        name: expectedDeliveryAfter
        schema:
          type: string
          format: date-time
      - in: query
        name: expectedDeliveryBefore
        schema:
          type: string
          format: date-time
      - in: query
        name: orderBy
        schema:
          type: array
          items:
            type: string
            enum:
            - -deliveryTime
            - -expectedDeliveryTime
            - -orderTime
            - deliveryTime
            - expectedDeliveryTime
            - orderTime
        description: Ordering
        explode: false
        style: form
      - in: query
        name: orderedAfter
        schema:
          type: string
          format: date-time
      - in: query
        name: orderedBefore
        schema:
          type: string
          format: date-time
      - in: query
        name: status
        schema:
          type: string
          enum:
          - FAILED
          - FINISHED
          - IN_PROGRESS
          - NOT_ORDERED
          - TIMED_OUT
      - in: query
        name: title
        schema:
          type: string
      tags:
      - GOV Orders
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GovPartnerOrderedDocument'
          description: ''
  /api/v2/gov-ordered-documents/{id}/:
    get:
      operationId: apiV2GovOrderedDocumentsRetrieve
      summary: Retrieve GOV ordered document
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: A UUID string identifying this gov partner ordered document.
        required: true
      tags:
      - GOV Orders
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovPartnerOrderedDocument'
          description: ''
  /api/v2/gov-ordered-documents/available-documents/:
    get:
      operationId: apiV2GovOrderedDocumentsAvailableDocumentsRetrieve
      summary: Retrieve available documents to order
      parameters:
      - in: query
        name: countryCode
        schema:
          enum:
          - AL
          - AM
          - AR
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BG
          - BH
          - BN
          - BO
          - BQ
          - BR
          - BW
          - BY
          - BZ
          - CA
          - CH
          - CN
          - CO
          - CR
          - CW
          - CY
          - CZ
          - DE
          - DK
          - DO
          - EC
          - EE
          - ES
          - FI
          - FR
          - GB
          - GE
          - GG
          - GH
          - GI
          - GR
          - HK
          - HR
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IS
          - IT
          - JE
          - JO
          - KH
          - KW
          - KY
          - LI
          - LK
          - LS
          - LT
          - LU
          - LV
          - MA
          - ME
          - MH
          - MM
          - MT
          - MU
          - MY
          - NL
          - 'NO'
          - NZ
          - PE
          - PH
          - PK
          - PL
          - PR
          - PT
          - QA
          - RO
          - RS
          - RU
          - SB
          - SE
          - SG
          - SI
          - SK
          - TH
          - TN
          - TO
          - TR
          - TT
          - TW
          - UG
          - US
          - UY
          - VG
          - VI
          - VN
          - VU
          - WS
          - ZA
          type: string
          minLength: 1
        required: true
      - in: query
        name: region
        schema:
          type: string
          minLength: 1
      - in: query
        name: registrationNumber
        schema:
          type: string
          minLength: 1
        description: External company ID from GOV registers search should be used.
        required: true
      tags:
      - GOV Orders
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovRegistersAvailableDocuments'
          description: ''
  /api/v2/gov-ordered-documents/document-order/:
    post:
      operationId: apiV2GovOrderedDocumentsDocumentOrderCreate
      summary: Order GOV document
      tags:
      - GOV Orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovPartnerOrderDocumentRequest'
        required: true
      security:
      - apiKeyPair: []
      responses:
        '200':
          description: No response body
  /api/v2/sos-filing-documents/:
    get:
      operationId: apiV2SosFilingDocumentsList
      summary: List SOS filing documents
      parameters:
      - in: query
        name: checkedAt
        schema:
          type: array
          items:
            type: string
            format: date-time
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: string
          enum:
          - FAILED
          - FINISHED
          - IN_PROGRESS
          - NOT_ORDERED
          - TIMED_OUT
      tags:
      - SOS Reports
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SosReportDocument'
          description: ''
    post:
      operationId: apiV2SosFilingDocumentsCreate
      summary: Order SOS filing document
      tags:
      - SOS Reports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SosReportParameterRequest'
        required: true
      security:
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SosReportDocument'
          description: ''
  /api/v2/sos-filing-documents/{id}/:
    get:
      operationId: apiV2SosFilingDocumentsRetrieve
      summary: Retrieve SOS filing document
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this sos document.
        required: true
      tags:
      - SOS Reports
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SosReportDocument'
          description: ''
  /kyb/companies/:
    get:
      operationId: kybCompaniesList
      summary: List companies
      parameters:
      - in: query
        name: created
        schema:
          type: array
          items:
            type: string
            format: date-time
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: perPage
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: registrationNumber
        schema:
          type: string
      tags:
      - Companies
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyListList'
          description: ''
  /kyb/companies/{id}/:
    get:
      operationId: kybCompaniesRetrieve
      summary: Retrieve all company info
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - Companies
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetail'
          description: ''
    delete:
      operationId: kybCompaniesDestroy
      summary: Delete company
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - Companies
      security:
      - apiKeyPair: []
      responses:
        '204':
          description: No response body
  /kyb/companies/{id}/change-status/:
    post:
      operationId: kybCompaniesChangeStatusCreate
      description: Note that the status cannot be changed from `PENDING` and `PROCESSING`
        statuses.
      summary: Change company status
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyStatusRequest'
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyStatus'
          description: ''
  /kyb/companies/{id}/pdf/:
    post:
      operationId: kybCompaniesPdfCreate
      summary: Generate company PDF
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybPdfRequest'
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          description: ''
  /kyb/forms/:
    get:
      operationId: kybFormsList
      description: List KYB forms associated with KYB token. There can be *one* or
        *zero* items in the list, indicating that the KYB form *was* or *was not*
        created.
      summary: List KYB forms
      tags:
      - KYB Forms
      security:
      - kybTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KybFormList'
          description: ''
    post:
      operationId: kybFormsCreate
      summary: Create new KYB form
      tags:
      - KYB Forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybFormCreateRequest'
        required: true
      security:
      - kybTokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormCreate'
          description: ''
  /kyb/forms/{companyId}/beneficiaries/:
    get:
      operationId: kybFormsBeneficiariesList
      summary: List beneficiaries
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - Beneficiaries
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Beneficiary'
          description: ''
    post:
      operationId: kybFormsBeneficiariesCreate
      summary: Add new beneficiary
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - Beneficiaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryCreateRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryCreate'
          description: ''
  /kyb/forms/{companyId}/beneficiaries/{beneficiaryId}/documents/:
    get:
      operationId: kybFormsBeneficiariesDocumentsList
      summary: List beneficiary documents
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BeneficiaryDocument'
          description: ''
    post:
      operationId: kybFormsBeneficiariesDocumentsCreate
      summary: Add new beneficiary document
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryDocumentCreateRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryDocumentCreate'
          description: ''
  /kyb/forms/{companyId}/beneficiaries/{beneficiaryId}/documents/{id}/:
    get:
      operationId: kybFormsBeneficiariesDocumentsRetrieve
      summary: Retrieve beneficiary document
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryDocument'
          description: ''
    put:
      operationId: kybFormsBeneficiariesDocumentsUpdate
      summary: Update beneficiary document
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryDocumentRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryDocument'
          description: ''
    patch:
      operationId: kybFormsBeneficiariesDocumentsPartialUpdate
      summary: Partially update beneficiary document
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBeneficiaryDocumentRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryDocument'
          description: ''
    delete:
      operationId: kybFormsBeneficiariesDocumentsDestroy
      summary: Delete beneficiary document
      parameters:
      - in: path
        name: beneficiaryId
        schema:
          type: string
        required: true
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '204':
          description: No response body
  /kyb/forms/{companyId}/beneficiaries/{id}/:
    get:
      operationId: kybFormsBeneficiariesRetrieve
      summary: Retrieve beneficiary
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this beneficiary.
        required: true
      tags:
      - Beneficiaries
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
          description: ''
    put:
      operationId: kybFormsBeneficiariesUpdate
      summary: Update beneficiary
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this beneficiary.
        required: true
      tags:
      - Beneficiaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
          description: ''
    patch:
      operationId: kybFormsBeneficiariesPartialUpdate
      summary: Partially update beneficiary
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this beneficiary.
        required: true
      tags:
      - Beneficiaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBeneficiaryRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
          description: ''
    delete:
      operationId: kybFormsBeneficiariesDestroy
      summary: Delete beneficiary
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this beneficiary.
        required: true
      tags:
      - Beneficiaries
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '204':
          description: No response body
  /kyb/forms/{companyId}/documents/:
    get:
      operationId: kybFormsDocumentsList
      summary: List documents
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: query
        name: type
        schema:
          type: array
          items:
            type: string
            enum:
            - ANNUAL_REPORT
            - BANK_STATEMENT
            - COMPANY_ADVERSE_MEDIA
            - DIRECTORS_REGISTRY
            - DIRECTOR_CERT
            - DIRECTOR_ONLINE_PRESENCE
            - EMAIL_CHECK
            - E_SIGNATURE_CERT
            - GOOD_STANDING_CERT
            - INCORPORATION_ARTICLES
            - INCORPORATION_CERT
            - INCUMBENCY_CERT
            - INDIVIDUAL_ADVERSE_MEDIA
            - INFORMATION_STATEMENT
            - INVOICE
            - NAME_CHANGE_PROOF
            - ONLINE_PRESENCE
            - ORG_CHART
            - OTHER
            - OWNERSHIP_STRUCTURE
            - PROOF_OF_ADDRESS
            - PROOF_OF_DOMAIN
            - SHAREHOLDER_CERT
            - SHAREHOLDER_ONLINE_PRESENCE
            - SHAREHOLDER_REGISTRY
            - SOURCE_OF_FUNDS
            - SOURCE_OF_WEALTH
            - STATE_REGISTRY
            - TRADING_STATUS_PROOF
            - TRUST_AGREEMENT
            - UBO_CERT
            - UBO_REGISTRY
            - WEBSITE_OVERVIEW
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: type_Exclude
        schema:
          type: array
          items:
            type: string
            enum:
            - ANNUAL_REPORT
            - BANK_STATEMENT
            - COMPANY_ADVERSE_MEDIA
            - DIRECTORS_REGISTRY
            - DIRECTOR_CERT
            - DIRECTOR_ONLINE_PRESENCE
            - EMAIL_CHECK
            - E_SIGNATURE_CERT
            - GOOD_STANDING_CERT
            - INCORPORATION_ARTICLES
            - INCORPORATION_CERT
            - INCUMBENCY_CERT
            - INDIVIDUAL_ADVERSE_MEDIA
            - INFORMATION_STATEMENT
            - INVOICE
            - NAME_CHANGE_PROOF
            - ONLINE_PRESENCE
            - ORG_CHART
            - OTHER
            - OWNERSHIP_STRUCTURE
            - PROOF_OF_ADDRESS
            - PROOF_OF_DOMAIN
            - SHAREHOLDER_CERT
            - SHAREHOLDER_ONLINE_PRESENCE
            - SHAREHOLDER_REGISTRY
            - SOURCE_OF_FUNDS
            - SOURCE_OF_WEALTH
            - STATE_REGISTRY
            - TRADING_STATUS_PROOF
            - TRUST_AGREEMENT
            - UBO_CERT
            - UBO_REGISTRY
            - WEBSITE_OVERVIEW
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KybFormDocument'
          description: ''
    post:
      operationId: kybFormsDocumentsCreate
      summary: Add new document
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybFormDocumentCreateRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormDocumentCreate'
          description: ''
  /kyb/forms/{companyId}/documents/{id}/:
    get:
      operationId: kybFormsDocumentsRetrieve
      summary: Retrieve document
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormDocument'
          description: ''
    put:
      operationId: kybFormsDocumentsUpdate
      summary: Update document
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybFormDocumentRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormDocument'
          description: ''
    patch:
      operationId: kybFormsDocumentsPartialUpdate
      summary: Partially update document
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedKybFormDocumentRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormDocument'
          description: ''
    delete:
      operationId: kybFormsDocumentsDestroy
      summary: Delete document
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this KYB Document.
        required: true
      tags:
      - KYB Documents
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '204':
          description: No response body
  /kyb/forms/{companyId}/questionnaires/:
    get:
      operationId: kybFormsQuestionnairesList
      summary: List questionnaires
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - KYB Questionnaires
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Questionnaire'
          description: ''
  /kyb/forms/{companyId}/questionnaires/{id}/:
    get:
      operationId: kybFormsQuestionnairesRetrieve
      summary: Retrieve questionnaire
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this questionnaire.
        required: true
      tags:
      - KYB Questionnaires
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Questionnaire'
          description: ''
  /kyb/forms/{companyId}/questionnaires/{id}/answers/:
    get:
      operationId: kybFormsQuestionnairesAnswersRetrieve
      summary: Retrieve questionnaire answers
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this questionnaire.
        required: true
      tags:
      - KYB Questionnaires
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormAnswers'
          description: ''
        '204':
          description: No response body
    put:
      operationId: kybFormsQuestionnairesAnswersUpdate
      summary: Update questionnaire answers
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this questionnaire.
        required: true
      tags:
      - KYB Questionnaires
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybFormAnswersRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormAnswers'
          description: ''
    delete:
      operationId: kybFormsQuestionnairesAnswersDestroy
      summary: Delete questionnaire answers
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this questionnaire.
        required: true
      tags:
      - KYB Questionnaires
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '204':
          description: No response body
  /kyb/forms/{companyId}/questionnaires/answers/detail/:
    get:
      operationId: kybFormsQuestionnairesAnswersDetailList
      summary: Retrieve all questionnaires' answers
      parameters:
      - in: path
        name: companyId
        schema:
          type: string
        required: true
      tags:
      - KYB Questionnaires
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KybAnswersDisplay'
          description: ''
  /kyb/forms/{id}/:
    get:
      operationId: kybFormsRetrieve
      summary: Retrieve KYB form info
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - KYB Forms
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybForm'
          description: ''
    put:
      operationId: kybFormsUpdate
      summary: Update KYB form info
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - KYB Forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybFormUpdateRequest'
        required: true
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormUpdate'
          description: ''
    patch:
      operationId: kybFormsPartialUpdate
      summary: Partially update KYB form info
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - KYB Forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedKybFormUpdateRequest'
      security:
      - kybTokenAuth: []
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybFormUpdate'
          description: ''
  /kyb/forms/{id}/submit/:
    post:
      operationId: kybFormsSubmitCreate
      description: 'Submit a filled KYB form for review.


        The form will be submitted and you will not be able to edit this KYB form
        any further

        unless additional information will be requested during a manual review.


        After submission, automatic blacklist and automation processes are executed.

        Then this KYB form will be reviewed by humans.

        After manual review, you may receive a webhook callback.'
      summary: Submit KYB form
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - KYB Forms
      security:
      - kybTokenAuth: []
      responses:
        '200':
          description: No response body
  /kyb/info/:
    get:
      operationId: kybInfoRetrieve
      description: Various info for KYB session.
      summary: Retrieve KYB session info
      tags:
      - KYB Token
      security:
      - kybTokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybInfo'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybInfoUnauthorized'
          description: ''
  /kyb/tokens/:
    post:
      operationId: kybTokensCreate
      summary: Generate KYB form token
      tags:
      - KYB Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybTokenRequest'
      security:
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybToken'
          description: ''
  /kyb/tokens/{tokenString}/:
    put:
      operationId: kybTokensUpdate
      summary: Update KYB form token
      parameters:
      - in: path
        name: tokenString
        schema:
          type: string
          description: Token string used for authentication.
        required: true
      tags:
      - KYB Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybTokenUpdateRequest'
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybTokenUpdate'
          description: ''
    patch:
      operationId: kybTokensPartialUpdate
      summary: Partially update KYB form token
      parameters:
      - in: path
        name: tokenString
        schema:
          type: string
          description: Token string used for authentication.
        required: true
      tags:
      - KYB Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedKybTokenUpdateRequest'
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybTokenUpdate'
          description: ''
  /kyb/companies/{id}/automation/:
    post:
      operationId: kybCompaniesAutomationCreate
      summary: Re-run company automation
      parameters:
      - in: path
        name: id
        schema:
          type: string
        description: A unique value identifying this company.
        required: true
      tags:
      - Companies
      security:
      - apiKeyPair: []
      responses:
        '202':
          description: No response body
        '402':
          description: No response body
  /api/v2/registry-center-checks/:
    get:
      operationId: registryCenterChecksList
      parameters:
      - in: query
        name: checkedFields
        schema:
          type: array
          items:
            type: string
            enum:
            - address
            - address1
            - address2
            - city
            - date_of_birth
            - dob
            - email
            - first_name
            - gender
            - id_num
            - last_name
            - marital_status
            - middle_name
            - phone
            - state
            - yob
            - zip
        explode: true
        style: form
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: array
          items:
            type: string
            format: date-time
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: databases
        schema:
          type: array
          items:
            type: string
            enum:
            - UK
            - US_1
            - US_15
            - US_4
        description: A list of comma separated values
        explode: true
        style: form
      - in: query
        name: id
        schema:
          type: string
          format: uuid
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: orderBy
        schema:
          type: array
          items:
            type: string
            enum:
            - -created
            - created
        description: Ordering
        explode: false
        style: form
      - in: query
        name: partnerIn
        schema:
          type: array
          items:
            type: integer
        description: A list of ids, comma separated, identifying partners
        explode: true
        style: form
      - in: query
        name: partnerNotIn
        schema:
          type: array
          items:
            type: integer
        description: A list of ids, comma separated, identifying partners
        explode: true
        style: form
      - in: query
        name: status
        schema:
          type: string
          enum:
          - MATCH
          - NO_DATA
          - NO_MATCH
          - PARTIAL_MATCH
      - in: query
        name: surname
        schema:
          type: string
      tags:
      - Registry Center Checks
      security:
      - apiKeyPair: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegistryCenterCheck'
          description: ''
      summary: List registry center checks
    post:
      operationId: registryCenterChecksCreate
      tags:
      - Registry Center Checks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryCenterCheckRequest'
      security:
      - apiKeyPair: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCenterCheck'
          description: ''
      summary: Create registry center check
components:
  schemas:
    AdditionalFieldValue:
      type: object
      properties:
        title:
          type: string
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/CustomFieldTypeEnum'
          readOnly: true
        value:
          nullable: true
      required:
      - title
      - type
      - value
    AdditionalFieldValueRequest:
      type: object
      properties:
        value:
          nullable: true
      required:
      - value
    AddressAuditImage:
      type: object
      properties:
        image:
          type: string
          format: uri
          description: Address audit image
        type:
          $ref: '#/components/schemas/AddressAuditImageTypeEnum'
      required:
      - image
    AddressAuditImageTypeEnum:
      enum:
      - STREET_VIEW
      - ADDITIONAL
      type: string
    AddressAuditRetrieve:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        googleMapsUrl:
          type: string
          format: uri
          readOnly: true
          nullable: true
          description: Link to google maps result for address
        dataId:
          type: string
          readOnly: true
          nullable: true
          description: SerpAPI result data ID
        type:
          type: object
          additionalProperties: {}
          readOnly: true
        address:
          type: string
          readOnly: true
          nullable: true
        associatedBodies:
          type: object
          additionalProperties: {}
          readOnly: true
          description: Associated bodies at this address
        latitude:
          type: number
          format: double
          readOnly: true
          nullable: true
          description: Address latitude
        longitude:
          type: number
          format: double
          readOnly: true
          nullable: true
          description: Address longitude
        riskLevel:
          allOf:
          - $ref: '#/components/schemas/RiskLevelEnum'
          readOnly: true
        addressAuditImages:
          type: array
          items:
            $ref: '#/components/schemas/AddressAuditImage'
          readOnly: true
      required:
      - address
      - addressAuditImages
      - associatedBodies
      - created
      - dataId
      - googleMapsUrl
      - id
      - latitude
      - longitude
      - riskLevel
      - type
    AdverseMediaSearchResult:
      type: object
      properties:
        title:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        text:
          type: string
          nullable: true
        score:
          type: integer
          nullable: true
        type:
          allOf:
          - $ref: '#/components/schemas/AmlArticleTypeEnum'
          nullable: true
        publishDate:
          type: string
          format: date
          nullable: true
      required:
      - publishDate
      - score
      - text
      - title
      - type
      - url
    AmlAdverseMediaData:
      type: object
      properties:
        title:
          type: string
          nullable: true
        url:
          type: string
        text:
          type: string
          nullable: true
        score:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        publishDate:
          type: string
          nullable: true
        status:
          type: string
        comment:
          $ref: '#/components/schemas/AmlComment'
      required:
      - publishDate
      - score
      - text
      - title
      - type
      - url
    AmlArticleTypeEnum:
      enum:
      - NEGATIVE
      type: string
    AmlCheck:
      oneOf:
      - $ref: '#/components/schemas/PersonAmlCheck'
      - $ref: '#/components/schemas/CompanyAmlCheck'
      discriminator:
        propertyName: userType
        mapping:
          PERSON: '#/components/schemas/PersonAmlCheck'
          COMPANY: '#/components/schemas/CompanyAmlCheck'
    AmlCheckMonitoring:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          $ref: '#/components/schemas/MonitoringStatusEnum'
        isSubscribed:
          type: boolean
        expiration:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
            maxLength: 32
            pattern: ^[^,]+$
          default: []
          description: List of case-sensitive strings. Each tag can not be longer
            than 32 characters.
          maxItems: 5
        created:
          type: string
          format: date-time
          readOnly: true
      required:
      - created
      - id
    AmlCheckStatusEnum:
      enum:
      - NOT_CHECKED
      - NO_FLAGS
      - FALSE_POSITIVE
      - TRUE_POSITIVE
      - FLAGS_FOUND
      type: string
    AmlCheckV3BusinessData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        overallStatus:
          $ref: '#/components/schemas/AmlCheckStatusEnum'
        statusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        statusSetAt:
          type: string
          format: date-time
          nullable: true
        adverseMedia:
          type: array
          items:
            $ref: '#/components/schemas/AmlAdverseMediaData'
          nullable: true
        amlCheck:
          type: array
          items:
            $ref: '#/components/schemas/BusinessSearchResult'
          nullable: true
      required:
      - id
    AmlCheckV3IndividualData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        overallStatus:
          $ref: '#/components/schemas/AmlCheckStatusEnum'
        statusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        statusSetAt:
          type: string
          format: date-time
          nullable: true
        adverseMedia:
          type: array
          items:
            $ref: '#/components/schemas/AmlAdverseMediaData'
          nullable: true
        amlCheck:
          type: array
          items:
            $ref: '#/components/schemas/IndividualSearchResult'
          nullable: true
      required:
      - id
    AmlComment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        manager:
          $ref: '#/components/schemas/ManagerAccount'
        content:
          type: string
          maxLength: 10000
        type:
          $ref: '#/components/schemas/AmlCommentTypeEnum'
        created:
          type: string
          format: date-time
          readOnly: true
      required:
      - content
      - created
      - id
      - manager
      - type
    AmlCommentTypeEnum:
      enum:
      - ADVERSE_MEDIA
      - AML_PROFILE
      type: string
    AmlMonitoringUser:
      type: object
      properties:
        monitoringId:
          type: string
          maxLength: 100
        name:
          type: string
          nullable: true
          maxLength: 200
        surname:
          type: string
          nullable: true
          maxLength: 100
        lastCheckDate:
          type: string
          format: date
          nullable: true
        alertStatus:
          $ref: '#/components/schemas/MonitoringAlertTypeEnum'
      required:
      - monitoringId
    AmlReviewSubjectEnum:
      enum:
      - COMPANY
      - BENEFICIARY
      - SHAREHOLDER
      type: string
    AmlReviewWebhook:
      type: object
      properties:
        amlReviewSubjectType:
          $ref: '#/components/schemas/AmlReviewSubjectEnum'
        id:
          type: string
        companyId:
          type: string
        clientId:
          type: string
        externalRef:
          type: string
          nullable: true
        negativeNewsComment:
          type: string
          nullable: true
        negativeNewsStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          nullable: true
        newsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        newsStatusSetAt:
          type: string
          format: date-time
          nullable: true
        amlComment:
          type: string
          nullable: true
        pepsCheckStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          nullable: true
        pepsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        pepsStatusSetAt:
          type: string
          format: date-time
          nullable: true
        sanctionsCheckStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          nullable: true
        sanctionsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        sanctionsStatusSetAt:
          type: string
          format: date-time
          nullable: true
        overallStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          nullable: true
        statusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        statusSetAt:
          type: string
          format: date-time
          nullable: true
      required:
      - amlReviewSubjectType
      - companyId
      - id
    Applicant:
      oneOf:
      - $ref: '#/components/schemas/IndividualApplicant'
      - $ref: '#/components/schemas/CompanyApplicant'
      discriminator:
        propertyName: infoType
        mapping:
          INDIVIDUAL: '#/components/schemas/IndividualApplicant'
          COMPANY: '#/components/schemas/CompanyApplicant'
    ApplicantCreate:
      oneOf:
      - $ref: '#/components/schemas/IndividualApplicantCreate'
      - $ref: '#/components/schemas/CompanyApplicantCreate'
      discriminator:
        propertyName: infoType
        mapping:
          INDIVIDUAL: '#/components/schemas/IndividualApplicantCreate'
          COMPANY: '#/components/schemas/CompanyApplicantCreate'
    ApplicantCreateRequest:
      oneOf:
      - $ref: '#/components/schemas/IndividualApplicantCreateRequest'
      - $ref: '#/components/schemas/CompanyApplicantCreateRequest'
      discriminator:
        propertyName: infoType
        mapping:
          INDIVIDUAL: '#/components/schemas/IndividualApplicantCreateRequest'
          COMPANY: '#/components/schemas/CompanyApplicantCreateRequest'
    ApplicantFlow:
      oneOf:
      - $ref: '#/components/schemas/IndividualFlow'
      - $ref: '#/components/schemas/CompanyFlow'
      discriminator:
        propertyName: applicantType
        mapping:
          INDIVIDUAL: '#/components/schemas/IndividualFlow'
          COMPANY: '#/components/schemas/CompanyFlow'
    ApplicantRequest:
      oneOf:
      - $ref: '#/components/schemas/IndividualApplicantRequest'
      - $ref: '#/components/schemas/CompanyApplicantRequest'
      discriminator:
        propertyName: infoType
        mapping:
          INDIVIDUAL: '#/components/schemas/IndividualApplicantRequest'
          COMPANY: '#/components/schemas/CompanyApplicantRequest'
    ApplicantTypeEnum:
      enum:
      - INDIVIDUAL
      - COMPANY
      type: string
    ApprovalStatusEnum:
      enum:
      - APPROVED
      - DENIED
      type: string
    AuditLogManager:
      type: object
      properties:
        id:
          type: integer
        displayName:
          type: string
    Beneficiary:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        beneficiaryTypes:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryTypeEnum'
          minItems: 1
        info:
          $ref: '#/components/schemas/Applicant'
        positions:
          type: array
          items:
            type: string
            pattern: ^[^,]+$
            maxLength: 50
          default: []
          description: Positions of the beneficiary. Can be `shareholder`, `director`,
            or any other position.
          maxItems: 3
        formFiller:
          type: boolean
          description: Indicates whether this beneficiary is the filler of the KYB
            form.
        ownershipPercentage:
          type: number
          format: double
          maximum: 100.0
          minimum: 0.0
          nullable: true
        parent:
          type: string
          readOnly: true
          nullable: true
      required:
      - id
      - info
      - parent
    BeneficiaryCreate:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        beneficiaryTypes:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryTypeEnum'
          minItems: 1
        info:
          $ref: '#/components/schemas/ApplicantCreate'
        positions:
          type: array
          items:
            type: string
            pattern: ^[^,]+$
            maxLength: 50
          default: []
          description: Positions of the beneficiary. Can be `shareholder`, `director`,
            or any other position.
          maxItems: 3
        formFiller:
          type: boolean
          description: Indicates whether this beneficiary is the filler of the KYB
            form.
        ownershipPercentage:
          type: number
          format: double
          maximum: 100.0
          minimum: 0.0
          nullable: true
        parent:
          type: string
          nullable: true
      required:
      - id
      - info
    BeneficiaryCreateRequest:
      type: object
      properties:
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        beneficiaryTypes:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryTypeEnum'
          minItems: 1
        info:
          $ref: '#/components/schemas/ApplicantCreateRequest'
        positions:
          type: array
          items:
            type: string
            minLength: 1
            pattern: ^[^,]+$
            maxLength: 50
          default: []
          description: Positions of the beneficiary. Can be `shareholder`, `director`,
            or any other position.
          maxItems: 3
        formFiller:
          type: boolean
          description: Indicates whether this beneficiary is the filler of the KYB
            form.
        ownershipPercentage:
          type: number
          format: double
          maximum: 100.0
          minimum: 0.0
          nullable: true
        parent:
          type: string
          minLength: 1
          nullable: true
      required:
      - info
    BeneficiaryDetail:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        beneficiaryTypes:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryTypeEnum'
          minItems: 1
        info:
          $ref: '#/components/schemas/Applicant'
        positions:
          type: array
          items:
            type: string
            pattern: ^[^,]+$
            maxLength: 50
          default: []
          description: Positions of the beneficiary. Can be `shareholder`, `director`,
            or any other position.
          maxItems: 3
        formFiller:
          type: boolean
          description: Indicates whether this beneficiary is the filler of the KYB
            form.
        ownershipPercentage:
          type: number
          format: double
          maximum: 100.0
          minimum: 0.0
          nullable: true
        parent:
          type: string
          readOnly: true
          nullable: true
        meta:
          allOf:
          - $ref: '#/components/schemas/BeneficiaryDetailMeta'
          readOnly: true
        documents:
          type: array
          items:
            $ref: '#/components/schemas/KybDocument'
          default: []
        amlCheck:
          allOf:
          - $ref: '#/components/schemas/AmlCheck'
          nullable: true
        amlMonitoringUser:
          allOf:
          - $ref: '#/components/schemas/BeneficiaryMonitoringUser'
          readOnly: true
      required:
      - amlCheck
      - amlMonitoringUser
      - id
      - info
      - meta
      - parent
    BeneficiaryDetailMeta:
      type: object
      properties:
        identifier:
          type: string
          readOnly: true
          nullable: true
        clientId:
          type: string
          readOnly: true
          nullable: true
        finalStatus:
          type: string
          readOnly: true
          nullable: true
        sessionExpiration:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        identificationHistory:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationHistory'
          readOnly: true
        pepsCheckStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          description: Always `NOT_CHECKED` for `COMPANY` beneficiaries because company
            AML can't have PEPs flags.
        pepsStatusSetAt:
          type: string
          format: date-time
          nullable: true
        pepsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          readOnly: true
          nullable: true
        sanctionsCheckStatus:
          $ref: '#/components/schemas/AmlCheckStatusEnum'
        sanctionsStatusSetAt:
          type: string
          format: date-time
          nullable: true
        sanctionsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          readOnly: true
          nullable: true
        amlComment:
          type: string
          nullable: true
        negativeNewsStatus:
          $ref: '#/components/schemas/AmlCheckStatusEnum'
        negativeNewsComment:
          type: string
          nullable: true
        newsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          readOnly: true
          nullable: true
        newsStatusSetAt:
          type: string
          format: date-time
          nullable: true
      required:
      - clientId
      - finalStatus
      - identificationHistory
      - identifier
      - newsStatusSetBy
      - pepsStatusSetBy
      - sanctionsStatusSetBy
      - sessionExpiration
    BeneficiaryDocument:
      oneOf:
      - $ref: '#/components/schemas/IndividualKybDoc'
      - $ref: '#/components/schemas/CompanyKybDoc'
    BeneficiaryDocumentCreate:
      oneOf:
      - $ref: '#/components/schemas/IndividualKybDocCreate'
      - $ref: '#/components/schemas/CompanyKybDocCreate'
    BeneficiaryDocumentCreateRequest:
      oneOf:
      - $ref: '#/components/schemas/IndividualKybDocCreateRequest'
      - $ref: '#/components/schemas/CompanyKybDocCreateRequest'
    BeneficiaryDocumentRequest:
      oneOf:
      - $ref: '#/components/schemas/IndividualKybDocRequest'
      - $ref: '#/components/schemas/CompanyKybDocRequest'
    BeneficiaryField:
      type: object
      properties:
        required:
          type: boolean
          default: false
        field:
          $ref: '#/components/schemas/BeneficiaryFieldEnum'
      required:
      - field
    BeneficiaryFieldEnum:
      enum:
      - OWNERSHIP_PERCENTAGE
      type: string
    BeneficiaryMonitoringUser:
      type: object
      properties:
        monitoringId:
          type: string
          readOnly: true
        alertStatus:
          allOf:
          - $ref: '#/components/schemas/MonitoringAlertTypeEnum'
          readOnly: true
      required:
      - alertStatus
      - monitoringId
    BeneficiaryRequest:
      type: object
      properties:
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        beneficiaryTypes:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryTypeEnum'
          minItems: 1
        info:
          $ref: '#/components/schemas/ApplicantRequest'
        positions:
          type: array
          items:
            type: string
            minLength: 1
            pattern: ^[^,]+$
            maxLength: 50
          default: []
          description: Positions of the beneficiary. Can be `shareholder`, `director`,
            or any other position.
          maxItems: 3
        formFiller:
          type: boolean
          description: Indicates whether this beneficiary is the filler of the KYB
            form.
        ownershipPercentage:
          type: number
          format: double
          maximum: 100.0
          minimum: 0.0
          nullable: true
      required:
      - info
    BeneficiaryTypeEnum:
      enum:
      - CEO
      - REPRESENTATIVE
      - SHAREHOLDER
      - UBO
      - ABO
      type: string
    BeneficiaryUnifiedFlow:
      type: object
      description: Indicates which beneficiary types are editable.
      properties:
        beneficiaryType:
          $ref: '#/components/schemas/BeneficiaryTypeEnum'
        required:
          type: boolean
          default: false
        fields:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryField'
          nullable: true
        applicants:
          type: array
          items:
            $ref: '#/components/schemas/ApplicantFlow'
        description:
          type: string
          description: Note for the user to guide them on how the beneficiaries information
            (including documents uploading) should be filled/edited.
          maxLength: 512
        readOnly:
          type: boolean
          default: false
      required:
      - applicants
      - beneficiaryType
    BeneficiaryWebhook:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        amlComment:
          type: string
          nullable: true
          deprecated: true
        pepsCheckStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          description: Always `NOT_CHECKED` for `COMPANY` beneficiaries because company
            AML can't have PEPs flags.
          deprecated: true
        pepsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccountOld'
          deprecated: true
        pepsStatusSetAt:
          type: string
          format: date-time
          nullable: true
          deprecated: true
        sanctionsCheckStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          deprecated: true
        sanctionsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccountOld'
          deprecated: true
        sanctionsStatusSetAt:
          type: string
          format: date-time
          nullable: true
          deprecated: true
        negativeNewsComment:
          type: string
          nullable: true
          deprecated: true
        negativeNewsStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          deprecated: true
        newsStatusSetBy:
          allOf:
          - $ref: '#/components/schemas/ManagerAccountOld'
          deprecated: true
        newsStatusSetAt:
          type: string
          format: date-time
          nullable: true
          deprecated: true
        beneficiaryCheck:
          type: object
          additionalProperties: {}
          nullable: true
          readOnly: true
        amlCheck:
          $ref: '#/components/schemas/AmlCheckV3IndividualData'
        negativeNewsCheck:
          type: object
          additionalProperties: {}
          nullable: true
          readOnly: true
        scanRef:
          type: object
          additionalProperties: {}
          nullable: true
          readOnly: true
      required:
      - amlCheck
      - beneficiaryCheck
      - id
      - negativeNewsCheck
      - newsStatusSetBy
      - pepsStatusSetBy
      - sanctionsStatusSetBy
      - scanRef
    BlacklistStatus:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/BlacklistStatusEnum'
      required:
      - id
      - status
    BlacklistStatusEnum:
      enum:
      - CHECKED
      - SKIPPED
      type: string
    BusinessSearchDatasetEnum:
      enum:
      - PEP
      - PEP_LINKED
      - SAN
      - SAN_CURRENT
      - SAN_FORMER
      - INS
      - RRE
      - POI
      - REL
      - SOE
      - SOE_CURRENT
      - SOE_FORMER
      type: string
    BusinessSearchResult:
      type: object
      properties:
        version:
          type: integer
          description: The version number can be used by clients to detect when a
            profile has been changed by our research team.
        resourceId:
          type: string
          description: The resource ID can be used to retrieve the full profile or
            the PDF of the business.
        score:
          type: integer
          description: The match score of the profile.
        match:
          type: string
          description: The name of the profile that has been matched in the search.
        name:
          type: string
          description: The primary name of the profile.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/SearchAddress'
          description: The list of profile addresses.
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/BusinessSearchDatasetEnum'
          description: "The profile datasets\n * PEP - (Deprecated - ignore)\n * PEP_LINKED\
            \ - Only linked PEPs (PEP by Association)\n * SAN - (Deprecated - ignore)\n\
            \ * SAN_CURRENT - Only current Sanctions\n * SAN_FORMER - Only former\
            \ Sanctions\n * INS - Insolvency\n * RRE - Reputational Risk Exposure\n\
            \ * POI - Profile Of Interest\n * REL - Regulatory Enforcement List\n\
            \ * SOE - (Deprecated - ignore)\n * SOE_CURRENT - Only current SOE\n *\
            \ SOE_FORMER - Only former SOE.\n"
        currentSanBodyIds:
          type: array
          items:
            type: integer
          description: The list of IDs of all sanctioning bodies, that are currently
            sanctioning the given profile. The full list of supported sanction bodies
            and their IDs is provided by /dictionaries/sanction-bodies endpoint.
        formerSanBodyIds:
          type: array
          items:
            type: integer
          description: The list of IDs of all sanctioning bodies, that were sanctioning
            the given profile in the past, but do not currently sanction them. The
            full list of supported sanction bodies and their IDs is provided by /dictionaries/sanction-bodies
            endpoint.
      required:
      - addresses
      - currentSanBodyIds
      - datasets
      - formerSanBodyIds
      - match
      - name
      - resourceId
      - score
    CheckboxFieldValue:
      type: object
      properties:
        title:
          type: string
        type:
          $ref: '#/components/schemas/CustomFieldTypeEnum'
        value:
          type: boolean
          nullable: true
      required:
      - title
      - type
    Choice:
      type: object
      properties:
        key:
          type: string
          pattern: ^[\w_*-]+$
          maxLength: 32
        title:
          type: string
          maxLength: 512
      required:
      - key
      - title
    ClientSystem:
      type: object
      properties:
        ipAddress:
          type: string
          nullable: true
          description: '[ipv4](https://wikipedia.org/wiki/IPv4#Addressing) or [ipv6](https://wikipedia.org/wiki/IPv6_address)
            address.'
        timeZone:
          type: string
          nullable: true
          description: Time zone from [TZ database list](https://wikipedia.org/wiki/List_of_tz_database_time_zones#List).
    ClientSystemRequest:
      type: object
      properties:
        ipAddress:
          type: string
          nullable: true
          minLength: 1
          description: '[ipv4](https://wikipedia.org/wiki/IPv4#Addressing) or [ipv6](https://wikipedia.org/wiki/IPv6_address)
            address.'
        timeZone:
          type: string
          nullable: true
          minLength: 1
          description: Time zone from [TZ database list](https://wikipedia.org/wiki/List_of_tz_database_time_zones#List).
    CompanyAmlCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        clientId:
          type: string
          description: A unique string identifying a client on your side.
          maxLength: 100
        checkedAt:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        created:
          type: string
          format: date-time
          readOnly: true
        userType:
          $ref: '#/components/schemas/UserMonitoringTypeEnum'
        input:
          $ref: '#/components/schemas/CompanyAmlCheckInput'
        filter:
          $ref: '#/components/schemas/CompanyAmlCheckFilter'
        amlCheck:
          type: array
          items:
            $ref: '#/components/schemas/BusinessSearchResult'
          readOnly: true
          nullable: true
          description: AML database search result.
        adverseMedia:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaSearchResult'
          readOnly: true
          nullable: true
          description: Adverse media database search result.
        overallStatus:
          allOf:
          - $ref: '#/components/schemas/AmlCheckStatusEnum'
          readOnly: true
        monitoring:
          allOf:
          - $ref: '#/components/schemas/AmlCheckMonitoring'
          readOnly: true
          nullable: true
      required:
      - adverseMedia
      - amlCheck
      - checkedAt
      - clientId
      - created
      - filter
      - id
      - input
      - monitoring
      - overallStatus
      - userType
    CompanyAmlCheckFilter:
      type: object
      properties:
        threshold:
          type: integer
          maximum: 100
          minimum: 75
          nullable: true
          default: 85
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/CompanyAmlCheckFilterDatasetsEnum'
          nullable: true
          description: Required when checking `AML_CHECK` service.
        sanctionBodies:
          type: array
          items:
            type: integer
            maximum: 80
            minimum: 1
          nullable: true
          description: When searching `SAN` dataset, specify the values of sanctioning
            bodies that should be included when screening `SAN` dataset. The full
            list of supported sanction bodies and their values are provided by the
            API info endpoint. If none sanction bodies are provided the system will
            search sanctions issued by any sanctioning body.
    CompanyAmlCheckFilterDatasetsEnum:
      enum:
      - PEP_LINKED
      - SAN_CURRENT
      - SAN_FORMER
      - INS
      - RRE
      - POI
      - REL
      - SOE_CURRENT
      - SOE_FORMER
      type: string
    CompanyAmlCheckInput:
      type: object
      properties:
        companyName:
          type: string
          maxLength: 200
        country:
          allOf:
          - $ref: '#/components/schemas/CountryEnum'
          nullable: true
      required:
      - companyName
    CompanyApplicant:
      type: object
      properties:
        infoType:
          $ref: '#/components/schemas/ApplicantTypeEnum'
        companyName:
          type: string
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CustomFieldValue'
      required:
      - companyName
      - country
      - infoType
    CompanyApplicantCreate:
      type: object
      properties:
        infoType:
          $ref: '#/components/schemas/ApplicantTypeEnum'
        companyName:
          type: string
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AdditionalFieldValue'
      required:
      - companyName
      - country
      - infoType
    CompanyApplicantCreateRequest:
      type: object
      properties:
        infoType:
          $ref: '#/components/schemas/ApplicantTypeEnum'
        companyName:
          type: string
          minLength: 1
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AdditionalFieldValueRequest'
      required:
      - companyName
      - country
      - infoType
    CompanyApplicantRequest:
      type: object
      properties:
        infoType:
          $ref: '#/components/schemas/ApplicantTypeEnum'
        companyName:
          type: string
          minLength: 1
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AdditionalFieldValueRequest'
      required:
      - companyName
      - country
      - infoType
    CompanyComparisonDataMatching:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/CompanyFieldEnum'
        systemValue:
          type: string
          nullable: true
          maxLength: 255
        reportValue:
          type: string
          nullable: true
          maxLength: 255
        match:
          allOf:
          - $ref: '#/components/schemas/KybDataMatchEnum'
          nullable: true
      required:
      - field
      - match
      - reportValue
      - systemValue
    CompanyCreditBureauDocument:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        externalCompanyId:
          type: string
          maxLength: 255
        checkedAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: '#/components/schemas/CreditBureauStatusEnum'
        dataFile:
          type: string
          format: uri
          nullable: true
          pattern: (?:json)$
        reportFile:
          type: string
          format: uri
          nullable: true
          pattern: (?:pdf)$
        beneficiaryDocument:
          type: boolean
      required:
      - externalCompanyId
      - id
      - status
    CompanyDeleteWebhook:
      type: object
      properties:
        date:
          type: string
          format: date-time
        manager:
          allOf:
          - $ref: '#/components/schemas/ManagerAccount'
          nullable: true
        companyId:
          type: string
      required:
      - companyId
      - date
      - manager
    CompanyDetail:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        company:
          $ref: '#/components/schemas/CompanyDetailInfo'
        meta:
          $ref: '#/components/schemas/CompanyMeta'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/KybDocument'
        beneficiaries:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryDetail'
        questionnaires:
          type: array
          items:
            $ref: '#/components/schemas/KybAnswersDisplay'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/KybComments'
        auditLogs:
          allOf:
          - $ref: '#/components/schemas/CompanyLogs'
          readOnly: true
        addressAudit:
          $ref: '#/components/schemas/AddressAuditRetrieve'
        websiteAudit:
          $ref: '#/components/schemas/WebsiteAudit'
        companyNameAudit:
          $ref: '#/components/schemas/CompanyNameAudit'
        dataMatchings:
          type: array
          items:
            $ref: '#/components/schemas/KybDataMatchingList'
        einVerification:
          $ref: '#/components/schemas/EinVerification'
        govChecks:
          $ref: '#/components/schemas/CompanyGovChecks'
        amlCheck:
          allOf:
          - $ref: '#/components/schemas/CompanyAmlCheck'
          nullable: true
        amlChecks:
          type: array
          items:
            $ref: '#/components/schemas/AmlCheck'
          description: Other AML checks that were performed for this company.
        amlMonitoringUsers:
          type: array
          items:
            $ref: '#/components/schemas/AmlMonitoringUser'
          nullable: true
        riskAssessment:
          allOf:
          - $ref: '#/components/schemas/RiskAssessmentSummary'
          nullable: true
      required:
      - addressAudit
      - amlCheck
      - amlChecks
      - amlMonitoringUsers
      - auditLogs
      - beneficiaries
      - comments
      - company
      - companyNameAudit
      - dataMatchings
      - documents
      - einVerification
      - govChecks
      - id
      - meta
      - questionnaires
      - riskAssessment
      - websiteAudit
    CompanyDetailInfo:
      type: object
      properties:
        companyName:
          type: string
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CustomFieldValue'
      required:
      - additionalInfo
      - companyName
      - country
    CompanyDocType:
      type: object
      properties:
        description:
          type: string
          nullable: true
          maxLength: 512
        required:
          type: boolean
          default: false
        docType:
          type: string
          pattern: ^[\u0000-\u007F]+$
          maxLength: 100
      required:
      - docType
    CompanyExpirationStatusEnum:
      enum:
      - PENDING
      - EXPIRED
      type: string
    CompanyExpirationWebhook:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        expirationStatus:
          allOf:
          - $ref: '#/components/schemas/CompanyExpirationStatusEnum'
          nullable: true
      required:
      - id
    CompanyField:
      type: object
      properties:
        required:
          type: boolean
          default: false
        field:
          $ref: '#/components/schemas/CompanyFieldEnum'
        order:
          type: integer
          minimum: 0
          nullable: true
      required:
      - field
    CompanyFieldEnum:
      enum:
      - COMPANY_NAME
      - REGISTRATION_NUMBER
      - COUNTRY
      - REGION
      - TYPE
      - PHONE
      - WEBSITE
      - EMAIL
      - BRAND_NAMES
      - ACTIVITY_CODE
      - TIN
      - OPERATING_ADDRESS
      - POSTAL_ADDRESS
      - POSTCODE
      - STREET
      - CITY
      type: string
    CompanyFieldUnified:
      type: object
      properties:
        required:
          type: boolean
          default: false
        field:
          $ref: '#/components/schemas/CompanyFieldEnum'
        order:
          type: integer
          minimum: 0
          nullable: true
        readOnly:
          type: boolean
          default: false
        changeFrom:
          nullable: true
          description: KYB form field value must be changed from this field's value.
        changeRequired:
          type: boolean
      required:
      - field
    CompanyFlow:
      type: object
      properties:
        required:
          type: boolean
          default: false
        applicantType:
          $ref: '#/components/schemas/ApplicantTypeEnum'
        fieldsCustom:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldAssignment'
          nullable: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/CompanyField'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/CompanyDocType'
          nullable: true
      required:
      - applicantType
      - fields
    CompanyGovChecks:
      type: object
      properties:
        creditBureauDocuments:
          type: array
          items:
            $ref: '#/components/schemas/CompanyCreditBureauDocument'
        govRegistersDocuments:
          type: array
          items:
            $ref: '#/components/schemas/CompanyGovRegistersDocument'
        govOrderedDocuments:
          type: array
          items:
            $ref: '#/components/schemas/CompanyGovOrderedDocument'
        sosFilingDocuments:
          type: array
          items:
            $ref: '#/components/schemas/CompanySosReportDocument'
      required:
      - creditBureauDocuments
      - govOrderedDocuments
      - govRegistersDocuments
      - sosFilingDocuments
    CompanyGovOrderedDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          nullable: true
        documentFormat:
          type: string
          maxLength: 5
        expectedDeliveryTime:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: '#/components/schemas/GovDocumentOrderStatusEnum'
        file:
          type: string
          format: uri
          nullable: true
        beneficiaryDocument:
          type: boolean
      required:
      - expectedDeliveryTime
      - id
    CompanyGovRegistersDocument:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        lite:
          type: boolean
        checkedAt:
          type: string
          format: date-time
          nullable: true
        dataFile:
          type: string
          format: uri
          nullable: true
          pattern: (?:json)$
        reportFile:
          type: string
          format: uri
          nullable: true
          pattern: (?:pdf)$
        checkedCompanyName:
          type: string
          nullable: true
          maxLength: 200
        checkedRegistrationNumber:
          type: string
          nullable: true
          maxLength: 100
        companyName:
          type: string
          nullable: true
          maxLength: 200
        externalCompanyId:
          type: string
          maxLength: 512
        postcode:
          type: string
          nullable: true
          maxLength: 20
        city:
          type: string
          nullable: true
          maxLength: 100
        activityCode:
          type: string
          nullable: true
          maxLength: 32
        activity:
          type: object
          additionalProperties: {}
          nullable: true
        addresses:
          type: object
          additionalProperties: {}
          nullable: true
        aliases:
          type: object
          additionalProperties: {}
          nullable: true
        email:
          type: string
          nullable: true
          maxLength: 128
        faxNumber:
          type: string
          nullable: true
          maxLength: 32
        telephoneNumber:
          type: string
          nullable: true
          maxLength: 32
        fiscalCode:
          type: string
          nullable: true
          maxLength: 128
        websiteUrl:
          type: string
          nullable: true
          maxLength: 128
        foundationDate:
          type: string
          nullable: true
          maxLength: 128
        legalForm:
          type: string
          nullable: true
          maxLength: 128
        legalStatus:
          type: string
          nullable: true
          maxLength: 128
        registrationAuthority:
          type: string
          nullable: true
          maxLength: 128
        registrationAuthorityCode:
          type: string
          nullable: true
          maxLength: 128
        registrationDate:
          type: string
          nullable: true
          maxLength: 128
        registrationNumber:
          type: string
          nullable: true
          maxLength: 128
        vatNumber:
          type: string
          nullable: true
          maxLength: 128
        stateOfIncorporation:
          type: string
          nullable: true
          maxLength: 128
        associatedPersons:
          type: object
          additionalProperties: {}
          nullable: true
        beneficiaryDocument:
          type: boolean
      required:
      - externalCompanyId
      - id
    CompanyInfo:
      type: object
      properties:
        companyName:
          type: string
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AdditionalFieldValue'
      required:
      - companyName
      - country
    CompanyInfoRequest:
      type: object
      properties:
        companyName:
          type: string
          minLength: 1
          maxLength: 200
        registrationNumber:
          type: string
          nullable: true
          maxLength: 100
        country:
          $ref: '#/components/schemas/CountryEnum'
        region:
          type: string
          nullable: true
          maxLength: 2
        type:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          description: Phone number in [E.164](https://wikipedia.org/wiki/E.164) format.
          maxLength: 128
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
          description: Email address.
          maxLength: 254
        brandNames:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 100
          default: []
          maxItems: 10
        activityCode:
          type: string
          nullable: true
          maxLength: 8
        tin:
          type: string
          nullable: true
          description: Taxpayer identification number.
          maxLength: 32
        operatingAddress:
          type: string
          nullable: true
          maxLength: 255
        postalAddress:
          type: string
          nullable: true
          description: Registration address.
          maxLength: 255
        postcode:
          type: string
          nullable: true
          maxLength: 20
        street:
          type: string
          nullable: true
          maxLength: 100
        city:
          type: string
          nullable: true
          maxLength: 100
        additionalInfo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AdditionalFieldValueRequest'
      required:
      - companyName
      - country
    CompanyInfoRequestStatusEnum:
      enum:
      - REQUESTED
      - EXPIRED
      - CANCELED
      type: string
[...]
