openapi: 3.1.0
info:
  title: iDenfy Aml Kyb API
  description: 'iDenfy identity verification, business verification (KYB), AML screening,

    face authentication, bank verification, and fraud prevention REST API.

    '
  version: '2.0'
  contact:
    name: iDenfy Support
    url: https://documentation.idenfy.com/
servers:
- url: https://ivs.idenfy.com
  description: Production
security:
- basicAuth: []
tags:
- name: Kyb
paths:
  /kyb/sessions:
    post:
      summary: Create KYB session
      operationId: createKybSession
      responses:
        '200':
          description: Session created
      tags:
      - Kyb
  /kyb/companies:
    get:
      summary: List companies
      operationId: listCompanies
      responses:
        '200':
          description: A list of companies
      tags:
      - Kyb
  /kyb/companies/{companyId}:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Retrieve company info
      operationId: getCompany
      responses:
        '200':
          description: Company details
      tags:
      - Kyb
    patch:
      summary: Update company
      operationId: updateCompany
      responses:
        '200':
          description: Updated
      tags:
      - Kyb
    delete:
      summary: Delete company
      operationId: deleteCompany
      responses:
        '204':
          description: Deleted
      tags:
      - Kyb
  /kyb/companies/{companyId}/pdf:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Generate company PDF
      operationId: generateCompanyPdf
      responses:
        '200':
          description: PDF generated
      tags:
      - Kyb
  /kyb/forms:
    get:
      summary: List KYB forms
      operationId: listForms
      responses:
        '200':
          description: A list of forms
      tags:
      - Kyb
    post:
      summary: Create KYB form
      operationId: createForm
      responses:
        '200':
          description: Form created
      tags:
      - Kyb
  /kyb/forms/{formId}:
    parameters:
    - name: formId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Retrieve form info
      operationId: getForm
      responses:
        '200':
          description: Form details
      tags:
      - Kyb
    patch:
      summary: Update form info
      operationId: updateForm
      responses:
        '200':
          description: Updated
      tags:
      - Kyb
  /kyb/forms/{formId}/submit:
    parameters:
    - name: formId
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Submit form
      operationId: submitForm
      responses:
        '200':
          description: Submitted
      tags:
      - Kyb
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using API_KEY as username and API_SECRET as password.
